celery==5.2.7
Django==4.1.2
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Pillow==9.2.0
drf_spectacular
redis
hiredis
python-decouple
django-celery-beat
django-debug-toolbar
django-silk
gunicorn